button {
  border: solid 1px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  margin: 8px 0 0 0;
  padding: 5px;
  width: 200px;
  height: 200px;
}

.proPic {
	height: 150px;
	width: 150px;
	border-radius: 75px;
	position: absolute;
	left: 10px;
	top: 110px;
	}
	
.add {
	border: solid 1px;
	border-radius: 5px;
	width: 150px;
	color: white;
	background-color: blue;
	}
	
.pid {
	height: 20px;
	width: 20px;
	margin: 0 3px 0 0;
	border-radius: 10px;
	
	}
	
.info {
	display: flex;
	}
	
.posts {
	height: 500px;
	width: 500px;
	}
	
.cover {
	height: 235px;
	width: 100%;
	position: relative;
	border-radius: 5px;
	}
#liked {
	color: gray;
	}

#liked2 {
	color: gray;
	}

#liked3 {
	color: gray;
	}

#liked4 {
	color: gray;
	}
	
#ig {
	height: 20px;
	width: 20px;
	}
	
a {
	color: gray;
	display: flex;
	}

